MyServiceConsole/Connected Services/MyServicePortReference/mex.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://mynamespace" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mynamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://mynamespace/Imports">
      <xsd:import schemaLocation="http://dev-vm/mex?xsd=xsd0" namespace="http://mynamespace" />
      <xsd:import schemaLocation="http://dev-vm/mex?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://dev-vm/mex?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://dev-vm/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dev-vm/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
      <xsd:import schemaLocation="http://dev-vm/mex?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
      <xsd:import schemaLocation="http://dev-vm/mex?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://dev-vm/mex?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MyServiceFindRequestRequest">
    <wsdl:part name="parameters" element="tns:MyServiceFindRequestRequest" />
  </wsdl:message>
  <wsdl:message name="MyServiceFindRequestRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="CallContext" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="MyServiceFindRequestResponse">
    <wsdl:part name="parameters" element="tns:MyServiceFindRequestResponse" />
  </wsdl:message>
  <wsdl:message name="MyServicePortContract_FindRequest_AifFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:portType name="MyServicePortContract">
    <wsdl:operation name="FindRequest">
      <wsdl:input wsaw:Action="http://mynamespace/MyService/FindRequest" name="MyServiceFindRequestRequest" message="tns:MyServiceFindRequestRequest" />
      <wsdl:output wsaw:Action="http://mynamespace/MyService/FindRequestResponse" name="MyServiceFindRequestResponse" message="tns:MyServiceFindRequestResponse" />
      <wsdl:fault wsaw:Action="http://mynamespace/MyService/FindRequestAifFaultFault" name="AifFault" message="tns:MyServicePortContract_FindRequest_AifFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>