MyServiceConsole/Connected Services/MyServicePortReference/mex2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mynamespace" elementFormDefault="qualified" targetNamespace="http://mynamespace" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dev-vm/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:element name="MyServiceFindRequestRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_args" nillable="true" type="q1:FindRequestArgs" />
        <xs:element minOccurs="0" name="_languageID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyServiceFindRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q2:ArrayOfMeterReadingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>